---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Yao</div>
    <div class="text-3xl py-3 font-bold">I work on autonomous agents that can plan, reason, and Collaborate with each other.</div>
    <div class="text-3xl py-3 font-bold">
    I am a PhD student at <a class="link link-primary" href="https://cs.uic.edu/">University of Illinois Chicago</a>
    under the supervision of <a class="link link-primary" href="https://bdsc-uic.github.io/">Philip S. Yu</a>.
    I received an M.S. from <a class="link link-primary" href="https://cds.nyu.edu/"> Center for Data Science, NYU</a> in 2024.
    Before that, I studied Mathematics and Computer Science at <a class="link link-primary" href="https://www.reed.edu/">Reed College</a>, 
    where I was introduced to Deep Learning by <a class="link link-primary" href="https://markandrewhopkins.com/">Mark Hopkins</a>.
    </div>
    <div class="mt-8">
      <a class="btn" href="https://x.com/zhengyao_gu" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Recent Publications</div>
  </div>

  <HorizontalCard
    title="Actor-Curator"
    img="project_preview/actor-curator/preview.webp"
    desc="A learned neural curator jointly trained with the actor to dynamically select problems from massive datasets. Non-stationary stochastic bandit formulation with OSMD-based updates and regret guarantees; up to 30% performance gains and 80% faster convergence across challenging reasoning benchmarks."
    url="https://arxiv.org/abs/2602.20532v1"
    badge="NEW"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
