---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base" id="publications" href="/publications">Publications</a></li>
    <li><a class="py-3 text-base" id="background" href="/cv">Background</a></li>
    <li><a class="py-3 text-base" id="awards" href="/#awards">Awards</a></li>
    <li><a class="py-3 text-base" id="services" href="/#services">Services</a></li>
    <li><a class="py-3 text-base" id="teaching" href="/#teaching">Teaching</a></li>
    <li><a class="py-3 text-base" id="notes" href="/#notes">Notes</a></li>
    <li><a class="py-3 text-base" id="blog" href="https://lightetal.substack.com/">Blog</a></li>
    <li>
      <a class="py-3 text-base" href="/pdfs/CV.pdf" target="_blank" rel="noopener" id="cv">
        CV
      </a>
    </li>
    <li>
        <a
            class="py-3 text-base"
            id="contact"
            href="mailto:zhengyao.gu30@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>